@model IEnumerable<MealPlanner.Models.Recipe>

@{
    ViewBag.Title = "Home Page";
}

<div>
    Recipies
</div>
<table class="table">
@foreach (var item in Model)
        {

    <tr>
        <td>
            <div class="col-lg-6">
                @Html.LabelFor(modelItem => item.title)
                @Html.DisplayFor(modelItem => item.title)
            </div>
        </td>

        <td>
            <div class="col-lg-6">
                <img src="@Html.DisplayFor(modelItem => item.image)">
            </div>
        </td>
    </tr>
    }
</table>





