@using Microsoft.AspNet.Identity;
@model MealPlanner.Models.GeneralUser

@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>General User Page</h2>

    <table class="table">
        <tr>
            <th></th>
        </tr>
    @*@foreach (var item in Model.Recipes)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }*@


    </table>
}

